.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  /*solution from TOP*/

  align-items: center;

}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;

}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  /*lines up items in row*/
  display:flex;

  /*solution from TOP*/
  margin: 0;
  padding: 0;
  gap: 8px;
}

li {
  padding: 8px;
  

}



a {
  font-size: 22px;
  background: white;
  padding: 8px;
  border: 14px;
  /* this removes the line under the links */
  text-decoration: none;
}

